<footer id="footer">
    {{ .Site.Params.copyright }} &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; <a href="https://youtube.com" title="YouTube">{{ partial "fontawesome.html" "youtube" }}</a> &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; <a href="https://twitter.com" title="Twitter">{{ partial "fontawesome.html" "twitter" }}</a> &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; <a href="https://github.com" title="GitHub">{{ partial "fontawesome.html" "github-alt" }}</a> &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp; <a href="https://soundcloud.com" title="SoundCloud">{{ partial "fontawesome.html" "soundcloud" }}</a> &nbsp;&nbsp;&nbsp;
</footer>
