<footer id="footer">
    Adrian&nbsp;Ochoa
    &nbsp;{{ .Site.Params.copyright }}
    &nbsp;&nbsp;<a href="https://youtube.com" title="YouTube">{{ partial "fontawesome.html" "youtube" }}</a>
    &nbsp;&nbsp;<a href="https://twitter.com" title="Twitter">{{ partial "fontawesome.html" "twitter" }}</a>
    &nbsp;&nbsp;<a href="https://github.com" title="GitHub">{{ partial "fontawesome.html" "github-alt" }}</a>
    &nbsp;&nbsp;<a href="https://soundcloud.com" title="SoundCloud">{{ partial "fontawesome.html" "soundcloud" }}</a>
</footer>
